/* INPUT */
.chatForm {
    display: flex;
    border-top: 2px solid #aab8c2;
}

.input {
    border: none;
    border-radius: 1rem;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: #fff !important;
    font-size: 1.25rem;
    background: #2979FF;
    display: inline-block;
    border: none;
    border-radius: 0 0 0.25rem 0;
    width: 20%;
}