/* MESSAGE - Single messages */ 

/* Hiding the scroll bar, but keeping scrollability.
    scrollbar still has some ghost margin to balance out. */
.message-content-inner {
    -ms-overflow-style: none;
    overflow: auto;
    scrollbar-width: none;
}
/* same */
.message-content-inner::-webkit-scrollbar {
    display: none;
}

.lilAvatar {
        height: 3rem;
        width: 3rem;
        font-size: 2.75rem;
        border-radius: 50%;
        border: 2px solid #18a0fb;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.sentText {
    display: flex;
    color: #828282;
    letter-spacing: 0.3px;
}

.paddingLeft {
    padding-left: 0.7rem;
}

.paddingRight {
    padding-right: 0.7rem;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}



/* OLD Layout - might use parts? */
/* .messageBox {
    background: #F3F3F3;
    border-radius: 1.25rem;
    padding: 0.25rem 1.25rem;
    color: white;
    display: inline-block;
    max-width: 80%;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
}

.messageText img {
    vertical-align: middle;
} */