/* ABOUTCARD - PROFILE */ 
.book-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* this book image is crazy, 30rem should barely fit the page */ 
.book-card img {
    width: 30rem;
    padding: 20px;
}  

.book-content {
    text-align: justify;
    display: flex;
    flex-direction: column;
}