/* ABOUTCARD - PROFILE */ 

/* Old stuff from the book card, do we need it?
    Will we have books. Complicated. */ 
    
/* .book-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.book-content {
    display: flex;
    flex-direction: column;
} */