.login-card {
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 20%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.welcome {
    font-size: 2rem;
    margin-bottom: 20px;
}

.coding {
    font-size: 1.1rem;
    color: #808080;
    margin-bottom: 70px;
}

.errMsg {
    margin: 10px 0 20px;
    color: red;
}

.login-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 50%;
    margin-bottom: 2rem;
}

.login-link {
    display: flex;
    align-items: center;  
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #000;        
    height: 40px;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.login-link:hover, .login-link:focus {
    box-shadow: 3px 5px 3px 0 rgba(0, 0, 0, 0.6);
    outline: none;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;          
    height: 40px;
}
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
}