/* CHAT */ 

.outerChatContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border: solid 1px #e8e8e8;
    border-radius: 8px;
    height: 60%;
    width: 35%;
}
  
@media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
        height: 100%;
    }

    .chatContainer {
        width: 100%;
        height: 100%;
    }
}
  
@media (min-width: 480px) and (max-width: 1200px) {
    .chatContainer {
        width: 60%;
    }
}