/* NAVBAR */
.navbarContainer {
    z-index: 1;
    background-color: #18a0fb;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
  
.navbarLogo {
    display: block;
    font-size: 25px;
    color: #fff;
    background-color: inherit;
    border: none;
    transition: 0.3s;
}
  
.navbarLogo:hover, .navbarLogo:focus {
    background-color: #18a0fb;
    box-shadow: 3px 5px 3px 0 rgba(0, 0, 0, 0.4);
}

/* chats dropup */ 
.navbarLogo .btn-primary {
    background-color: #18a0fb;
    border: none;
    font-size: 1.6rem;
}

/* "Chat Rooms:" option is not a link */ 
.liveChats {
    cursor: default;
    pointer-events: none;
}

/* remove silly caret from chats dropup */
.dropdown-toggle::after {
    display: none !important;
}
/* @media () */